<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/home.css" />
  <title>gym management mastery | iqrar shaikh</title>
</head>

<body>
  <section class="section__container price__container">
    <h2 class="section__header">OUR PRICING PLAN</h2>
    <p class="section__subheader">
      Our pricing plan comes with various membership tiers, each tailored to
      cater to different preferences and fitness aspirations.
    </p>
    <div class="price__grid">
      <div class="price__card">
        <div class="price__card__content">
          <h4>Monthly Plan</h4>
          <h3>₹4000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            ELITE Gyms & Classes
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
        </div>
        <a href="/api/v1/packages-plan/overview/monthlyPlan" class="btn price__btn" >View Details</a>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <h4>Quaterly Plan</h4>
          <h3>₹1500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
        </div>
        <a href="/api/v1/packages-plan/overview/quaterlyPlan" class="btn price__btn" >View Details</a>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <h4>Six Months Plan</h4>
          <h3>₹2500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
        </div>
        <a href="/api/v1/packages-plan/overview/halfYearPlan" class="btn price__btn" value="monthlyPlan">View Details</a>
      </div>

      <div class="price__card">
        <div class="price__card__content">
          <h4>Yearly Plan</h4>
          <h3>₹7500</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            ELITE Gyms & Classes
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Personal Training
          </p>
        </div>
        <a href="/api/v1/packages-plan/overview/yearlyPlan" class="btn price__btn" value="yearlyPlan">View Details</a>
      </div>
      <div class="price__card">
        <div class="price__card__content">
          <h4>Premium Plan</h4>
          <h3>₹10000</h3>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            ELITE Gyms & Classes
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            PRO Gyms
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Smart workout plan
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            At home workouts
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Personal Training
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Health podcasts and Yoga
          </p>
        </div>
        <a href="/api/v1/packages-plan/overview/premiumPlan" class="btn price__btn" value="premiumPlan">View Details</a>
      </div>
    </div>
  </section>
</body>

</html>